article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
  display: block;
}

audio,canvas,video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body,button,input,select,textarea {
  font-family: sans-serif;
  color: #222;
}

a {
  color: #00e;
}

a:visited {
  color: #551a8b;
}

a:hover {
  color: #06e;
}

a:focus {
  outline: thin dotted;
}

a:hover,a:active {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

b,strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

pre,code,kbd,samp {
  font-family: monospace,serif;
  _font-family: 'courier new',monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before,q:after {
  content: "";
  content: none;
}

small {
  font-size: 85%;
}

sub,sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul,ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

dd {
  margin: 0 0 0 40px;
}

nav ul,nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

label {
  cursor: pointer;
}

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

button,input,select,textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,input {
  line-height: normal;
}

button,input[type="button"],input[type="reset"],input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

input[type="checkbox"],input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

input:invalid,textarea:invalid {
  background-color: #f0dddd;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

body {
  /*width: 530px;*/
  margin: 0 auto;
  font-size: 16px;
  line-height: 167%;
  -webkit-transition: font-size 0.5s ease;
  transition: font-size 0.5s ease;
}

.hero {
  background-image: url('/images/hero.jpg');
  background-size: cover;
  min-height: 30em;
  min-height: 100vh;
  padding: 0.1px;
  color: #fafafa;
}

h1,h2,h3,h4,h5 {
  margin: 0;
  line-height: 110%;
}

h1 {
  font-size: 1em;
  line-height: 1.2em;
  margin: 0;
  padding: 0.2em 0.3em 0.2em;
  background: #fafafa;
  color: #333;
}

h2 {
  text-align: center;
  font-size: 2.3em;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.8em;
  margin-bottom: 0.6em;
}

p {
  margin: 0 0 1em;
}

a,a:visited {
  color: #222;
}

a:hover {
  color: #722;
}

.welcome {
  background: rgba(0,0,0,0.2);
  border-radius: 3px;
  max-width: 26em;
  margin: 3em;
  padding: 1em 1em 0;
}

.welcome a, .welcome a:visited {
  color: #fafafa;
}
.welcome a:hover {
  color: #c0c0c0;
}

.contact {
  margin-bottom: 1em;
}

.contact p {
  margin: 0;
}

nav ul {
  text-align: center;
  margin: 1em;
}

nav ul li a,nav ul li a:visited {
  color: #aaa;
}

nav ul li a:hover,nav ul li a.current {
  color: #555;
  background-color: #fafafa;
}

nav ul li a.current {
  border-bottom: 2px solid #888;
}

.h-list {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

.left {
  float: left;
  margin: 20px;
}

.right {
  float: right;
  margin: 20px;
}

.clear {
  clear: both;
}

.horizontal li {
  display: inline-block;
}

.gallery-thumbs {
  text-align: center;
}

.gallery-thumbs li {
  display: inline-block;
  text-align: center;
}

.gallery-thumbs img {
  border-radius: 1px;
  box-shadow: 0 1px 1px #ddd;
  border: 4px solid #fafafa;
}

.letter {
  background-color: #fff;
}

.letter .salutation {
  margin-bottom: 3em;
}

.letter .sig {
  margin-top: 3em;
}

.sig {
  padding-right: 56px;
}

.area {
  margin: 2em auto;
  clear: both;
  max-width: 37em;
  padding: 0 2em;
}

.company {
  margin: 1em 0 2em;
}

.projects {
  margin: 0;
}

.project {
  padding: 10px;
  clear: both;
}

.job-desc {
  font-size: 100%;
  margin: 8px 0;
  line-height: 110%;
}

.goal {
  font-style: italic;
}

.gallery-thumbs img:hover {
  border-color: #a22;
}

footer {
  padding: 0 0 2em;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: inline-block;
  padding: 6px 8px 11px;
  border-radius: 1px;
  background-color: #f0f0f0;
  margin: 0 7px;
}

nav ul li a,nav ul li a:visited {
  color: #888;
}

nav ul li a:hover {
  color: #555;
  background-color: #fafafa;
}

.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

.ir br {
  display: none;
}

.hidden {
  display: none!important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

@media screen and (min-width:840px){
  body {
    font-size: 26px;
  }
}

@media print {
  * {
    background: transparent!important;
    color: black!important;
    box-shadow: none!important;
    text-shadow: none!important;
    filter: none!important;
    -ms-filter: none!important;
  }

  a,a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after {
    content: "";
  }

  pre,blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100%!important;
  }

  p,h2,h3 {
    orphans: 3;
    widows: 3;
  }

  h2,h3 {
    page-break-after: avoid;
  };
}
