$bold-weight: 600;
$color-grey: #e3e3e3;
$color-light-grey: #888;
$font-family-stack: "ff-basic-gothic-web-pro", Verdana, sans-serif;
$large-breakpoint: (1.8 * 16px * 52);
$medium-breakpoint: (1 * 16px * 52);

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
  display: block;
}

audio,canvas,video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body,button,input,select,textarea {
  font-family: $font-family-stack;
  font-weight: 400;
  color: #222;
}

a,
a:visited {
  color: #222;
}

a:hover,
a:focus {
  color: #555;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

b,
strong {
  font-weight: $bold-weight;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: $bold-weight;
}

pre,code,kbd,samp {
  font-family: monospace,serif;
  _font-family: 'courier new',monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before,q:after {
  content: "";
  content: none;
}

small {
  font-size: 85%;
}

sub,sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul,ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

dd {
  margin: 0 0 0 40px;
}

nav ul,nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

label {
  cursor: pointer;
}

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

button,input,select,textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,input {
  line-height: normal;
}

button,input[type="button"],input[type="reset"],input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

input[type="checkbox"],input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

input:invalid,textarea:invalid {
  background-color: #f0dddd;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

body {
  margin: 0 auto;
  font-size: 1rem;
  line-height: 1.35;
  // -webkit-transition: font-size 0.5s ease;
  // transition: font-size 0.5s ease;
}

h1,h2,h3,h4,h5 {
  margin: 0;
  line-height: 110%;
  font-weight: $bold-weight;
}

h1 {
  font-size: 1rem;
  line-height: 1;
  margin: 0;
  float: left;
  @media screen and (max-width:440px){
    float: none;
  }
}

h2 {
  text-align: center;
  font-size: 2.3em;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1.3rem;
  margin-bottom: 0.6em;
}

p {
  margin: 0 0 1em;
}

.welcome {
  background: $color-grey;
  border-radius: 3px;
  margin: 0 auto;
  padding: 1em 1em 0.1px;
}

.Grid {
  clear: both;
  font-size: 0;
  margin: auto;
  width: 100%;
  max-width: 26rem;
  @media screen and (min-width: $medium-breakpoint){
    max-width: 52rem;
  }
}
.Grid-item {
  max-width: 26em;
  margin: 3em auto;
  padding: 0 2em;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}

header {
  overflow: hidden;
  background: $color-grey;
  font-weight: $bold-weight;

  a {
    text-decoration: none;
    padding: 0.35em 0.3em;
    display: inline-block;
    line-height: 1;
    &:hover {
      // text-decoration: underline;
      background: rgba(0,0,0,0.1);
      color: inherit;
    }
  }
  @media screen and (max-width:440px) {
    text-align: center;
  }
}
.nav {
  float: right;
  font-size: 0;

  @media screen and (max-width:440px) {
    float: none;
    clear: both;
    font-weight: 400;
    margin: 0.25rem 0 0;
  }
}
.nav li {
  display: inline-block;
  font-size: 1rem;
  @media screen and (max-width:440px) {
    font-size: 0.8rem;
    &:after {
      content: '\2022';
      color: $color-light-grey;
    }
    &:last-child:after {
      content: none;
    }
  }
}

.LinkList {
  margin: 0;
  padding: 0;
}

.LinkList-item {
  padding: 0.5em 0;
  clear: both;
}

.LinkList-subhead {
  font-size: 0.8em;
  margin: 8px 0;
  line-height: 110%;
  color: $color-light-grey;
}

.footer {
  text-align: center;
  margin: 3em 1em;
  color: $color-light-grey;
  clear: both;
}

@media screen and (min-width: $large-breakpoint){
  html {
    font-size: 1.8em;
  }
}
